<!DOCTYPE html>
<html lang="en" >

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Actual AI</title>

  <!--bootstrap4-->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



</head>

<body>


<div class="jumbotron" style="background-color: #9068be;color:white">
  <center>  <h1 class="pageTitle">Recommended </h1>
<p><h1>{{mainPerfect[0][0]}}</h1></p>
    <p>Ranking:{{mainPerfect[0][4]}}
  <br/>Location:{{mainPerfect[0][3]}}
  <br/>Smart Score:{{mainPerfect[0][1]}}
  <br/>Acceptance Score:{{mainPerfect[0][2]}}
 </p>
 </center>
</div>


<div class="container">
  <div class="row">
  <div class="col">
 {% for i in list2 %}
<div class="row d-flex align-items-stretch">
  <div class="card" style="background-color: #6ed3cf;padding: 20px;width: 100%;margin: 10px;">
    <h2>{{i[0]}}</h2>
        <div class="content">
          <p>Ranking:{{i[4]}}
       <br/>Location:{{i[3]}}
       <br/>Smart Score:{{i[1]}}
       <br/>Acceptance Score:{{i[2]}}

     </p>
   </div>
 </div>
</div>


 {% endfor %}
</div>

  <div class="col">
 {% for i in list1 %}
<div class="row  d-flex align-items-stretch">
  <div class="card" style="background-color: #e62739;padding: 20px;width: 100%;margin: 10px;color:white">
  <h2>{{i[0]}}</h2>
  <div class="content">
          <p>Ranking:{{i[4]}}
       <br/>Location:{{i[3]}}
       <br/>Smart Score:{{i[1]}}
       <br/>Acceptance Score:{{i[2]}}
     </p>
   </div>
 </div>
</div>



 {% endfor %}
</div>
</div>
</div>
<hr><br><br>
<center>
  <h2>Enter your SOP for grading your chances with these universities:</h2><br>
<!-- enter your SOP : -->
<form action="\SOP" method="POST">
    <input type="text" name="input"/>
    <input type="submit" name="RateIt"/>
    <input type="hidden" name="main" value="{{mainPerfect[0][0]}}"/>
    <input type="hidden" name="clg1" value="{{mainList[0][0][0]}}"/>
    <input type="hidden" name="clg2" value="{{mainList[1][0][0]}}"/>
    <input type="hidden" name="clg3" value="{{mainList[2][0][0]}}"/>
    <input type="hidden" name="clg4" value="{{mainList[3][0][0]}}"/>
    <input type="hidden" name="clg5" value="{{mainList[4][0][0]}}"/>
    <input type="hidden" name="clg6" value="{{mainList[5][0][0]}}"/>
    <input type="hidden" name="userInput" value="{{userInput}}"/>
  </form>
<p><br>
</center>






</body>

</html>
